/* Custom CSS */

body{
	background: url('/sites/default/files/moon.png'), url('/sites/default/files/squairy_light.png');
	background-position: top center, top left;
	background-repeat: no-repeat, repeat;
	font-family: 'Alef';
}
@font-face{
	font-family: FontAwesome;
	src: url('/sites/all/libraries/fontawesome/font/fontawesome-webfont.eot');
}
#logo{
	width: 100%;
	text-align: center;
	margin: 40px 0 80px 0;
}
#navigation{
	width: 1120px;
}
#main-menu{
	float: left;
	width: 1120px;
}
#navigation #main-menu .links li{
	padding-right: 8%;
}
#navigation #main-menu .links li.active a{
	background: none;
	border-radius: 0;
	border: none;
	position: relative;
	top: -7px;
	font-size: 35px;
	font-weight: bold;
	text-stroke: 1px rgb(251,246,246);
	-webkit-text-stroke: 1px rgb(251,246,246);
}

.region-navigation, #block-block-1{
	display: inline-block;
}
.region-navigation, #block-block-1 a{
	padding-right: 5px;
	padding-left: 3px;
	color: rgb(186, 152, 152);
	text-decoration: none;
}
.region-navigation{
	margin-top: -18px;
}
.fa-shopping-cart{
	font-size: 37px;

}
#main-menu a, #block-block-1{
	color: rgb(186,152,152);
	text-decoration: none;
	font-size: 23px;
	background: rgb(53,53,53);
	padding: 8px 2px;
        border-top-right-radius: 10px;
	border-top: 8px solid #888;
	border-left: 5px solid #555;
}

#subnav{
	position: absolute;
	top: 30px;
	width: 100%;
}
#block-views-page-message-block h4{
	display: inline-block;
	margin-left: 30px;

}
#block-views-page-message-block{
	display: block;
	background: rgb(203,184,183);
	border: rgb(229,220,219) 3px solid;
}
#block-views-page-message-block article{
	height: 100px;
}
#block-views-page-message-block .views-field-body{
	padding-bottom: 30px;
	display: inline-block;
	border-bottom: rgb(220,208,207) 2px solid;
	margin-bottom: 25px;

}	
#block-views-page-message-block .views-field-body:after{
	content: url('/sites/default/files/rocket-ship-endflag.png');
	position: absolute;
	left: 50%;
	margin-left: -40px;
	top: 96%;
	margin-top: -65px;
}

#content{
	position: relative;
	top: 105px;
	min-width: 1215px;
	margin-bottom: 150px;
}


/* Content Panes */
.node-11 .field-name-body{
	display: none;
}
#block-views-featured-other-block, #block-views-popular-other-block, #block-views-new-other-block, #block-views-rando-other-block, #block-views-featured-video-block, #block-views-popular-video-block, #block-views-new-video-block, #block-views-rando-video-block, #block-views-featured-music-block, #block-views-popular-music-block, #block-views-new-music-block, #block-views-rando-music-block, #block-views-featured-books-block, #block-views-popular-books-block, #block-views-new-books-block, #block-views-rando-books-block{
	float: left;
}
.fa-input{
	font-family: FontAwesome, 'Helvetical Neue', Helvetica, Arial, sans-serif;
	color:rgb(52,52,52);
	border: none;
	height: 25px;
	display: block;
	float: right;
	background: none;
	z-index: 10;
}
.view-pane .views-field-rendered-entity .node{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0px;
	right: -15px;	
}
.view-pane .views-field{
	text-align: center;
}
.view-pane .views-field-title{
	width: 190px;
	margin: 0 auto;
}
	
.prev-button, .next-button{
	display: inline-block;
}

.view-pane .views-slideshow-controls-text{
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: 15;
}
.view-pane .views-slideshow-controls-text-previous a, .view-pane .views-slideshow-controls-text-next a{
	display: none;
	text-decoration: none;
}
.view-pane .views-slideshow-controls-text-previous:hover, .view-pane .views-slideshow-controls-text-next:hover{
	text-decoration: none;
}
.views-slideshow-controls-text-previous:before{
	content: '<';
	font-size: 30px;
	text-decoration: none;
	display: inline-block;
	z-index: 15;
	
}
.views-slideshow-controls-text-next:before{
	content: '>';
	font-size: 30px;
	text-decoration: none;
	text-align: right;
	display: inline-block;
	float: right;
	z-index: 15;
}
.views-slideshow-controls-text-pause{
	display: none;
}
.pane-type{
	position: relative;
	left: 10px;
	z-index: 10;
	margin: 0;
	font-weight: normal;
	color: rgb(137,134,134);
}
.view-pane{
	background: rgb(249,244,244);
	width: 237px;
	height: 245px;
	position: relative;
	margin-right: 77px;
} 
.view-rando-books, .view-rando-music, .view-rando-other, view-rando-video{
	margin-right: 0;
}
.view-featured-books, .view-featured-music, .view-featured-other, .view-featured-video{
	background: rgb(248,248,225);
} 

.view-pane .views_slideshow_cycle_main{
	width: 190px;
	height: 178px;
	margin: auto auto;
	/*position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	*/
}
.view-pane a, .view-pane{
	color: rgb(52,52,52);
	text-decoration: none;
}
.view-pane .views-field-field-author{
	text-align: left;
	display: inline-block;
	float: left;
}
.view-pane .views-field-sell-price{
	text-align: right;
}
.panes-label{
	clear: left;
	color: rgb(79,79,79);
	font-size: 18px;
}
.panes-label h5{
	font-weight: normal;
	margin: 10px 0 5px 0;
}
.panes-label hr{
	margin-top: 0;
	border: rgb(179,179,179) 1px solid;
}
.example{
	background: url('/sites/default/files/example.png');
	width: 237px;
	height: 245px;
	position: absolute;
	top: -24px;
	left: -23px;
	z-index: 12;
	opacity: .6;
}
.example.hide{
	display: none;
}
.view-pane .views-slideshow-cycle-main-frame-row-item a{
	z-index: 16;
}
#views_slideshow_cycle_main_featured_music-block, #views_slideshow_cycle_main_featured_other-block, #views_slideshow_cycle_main_featured_video-block{
	position: relative;
}
.view-pane .views-slideshow-pager-fields{
	position: absolute;
	right: 15px;	
	top: 0;
}
.view-pane .views-slideshow-pager-field-item{	
	float: left;
	display: inline-block;	
	font-size: 8px;
	opacity: .3
}
.view-pane .views-slideshow-pager-field-item.active{
	opacity: .6
}
#block-block-3, #block-block-4, #block-block-5{
	z-index: -1;
}
/* TURN OFF VIDEO PANEL */
#block-block-4, #block-block-7{
	display: none !important;
}